.bg{
    
    background-color: aqua;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 160px;
    
}

.in{
    margin-left: 22px;
    
}
input{
    margin-top: 10px;
    padding-left:13px;
    padding-top: 15px;
    width: 236px;
}

.butt{
    margin-left: 0px;
    margin-top: -25px;
    padding-left: 15Px;
    padding-top: 39px;  
}

button{
    padding-left: 33px;
    padding-top: 26px;
    margin-left: 10px;
    margin-top: 7px;
}